.add-recipe {
	padding: 100px 30px 0 30px;
	font-family: 'Fanwood Text', serif;
	box-sizing: border-box;
	font-size: 20px;
}

.form-input  {
	padding: 0;
	margin: 0;
	position: relative;
	line-height: 0;
}

/*.add-recipe-form .form-input {
	z-index: -1;
}*/

.form-input input {
	position: absolute;
	padding: 0;
	margin: 0;
}

.add-recipe-form label {
	margin-top: 30px;
	margin-bottom: 0;
}

 .add-recipe-form-button-container {
 	margin-top: 10px;
 }

.add-recipe-form .main-label {
	font-weight: 700;
	font-size: 24px;
}

.measurement-field .measurement-label {
	margin-top: 20px;
	font-weight: 600;
}

.ingredient-field .ingredient-label {
	margin-top: 20px;
	font-weight: 600;
}

.field-container {
	height: 100%;
}

.remove-ingredients-button, .add-ingredients-button {
	background-color: #5A0300;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	font-size: 22px;
}

.remove-ingredients-button-container {
	padding-top: 20px;
}

.add-ingredients-button-container {
	padding-top: 5px;
}

.remove-ingredients-button-container button {
	padding: 0 9px 0 9px;
}

.form-error {
	position: absolute;
	top: 10px;
}

.instructions-label, .text-area {
	display: block;
}

.textarea {
	width: 100%;
}

.add-recipe-button {
	width: 100%;
	background-color: #5A0300;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	font-size: 22px;
}

.add-recipe-form-button-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.add-recipe .bottom-nav {
	height: 0;
	width: 0;
}

@media screen and (min-width: 768px) {
	.add-recipe {
		padding: 110px 150px 0 150px;
	}
	.add-recipe-button {
		font-size: 30px;
	}
}