.dashboard {
	padding: 260px 20px 0 20px;
	text-align: center;
	background-image: url('images/lukas-blazek-261682-unsplash.jpg');
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: right 15px;
	height: 100%;
	font-family: 'Fanwood Text', serif;
}

.dashboard div {
	padding-bottom: 100px;
	height: 60px;
	display: block;
	font-size: 40px;
}

.dashboard div a {
	text-decoration: none;
	color: #5A0300;
	opacity: .8;
}

.dashboard div a:hover {
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.dashboard {
		padding: 200px 20px 0 20px;
	}
}