.dashboard {
	padding: 220px 20px 0 20px;
	text-align: center;
	background-image: url('images/lukas-blazek-261682-unsplash.jpg');
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: right 15px;
	height: 100%;
	font-family: 'Fanwood Text', serif;
}

.dashboard .button-container {
	padding-bottom: 60px;
}

.dashboard .button-container button {
	width: 250px;
	height: 60px;
	border-top: 1px solid #F1F1F3;
	border-left: 1px solid #F1F1F3;  
	background-color: transparent;
  	-webkit-box-shadow: 2px 2px 1px 1px #6E6E6E;
  	-moz-box-shadow:    2px 2px 1px 1px #6E6E6E;
  	box-shadow:         2px 2px 1px 1px #6E6E6E;
}

button a {
	color: #5A0300;
	font-size: 40px;
	opacity: .70;
}

@media screen and (min-width: 768px) {
	.dashboard {
		padding: 150px 20px 0 20px;
	}
}