body {
	box-sizing: border-box;
}

.edit-form {
	padding: 110px 40px 0 40px;
	font-family: 'Fanwood Text', serif;
	box-sizing: border-box;
	font-size: 20px;
	box-sizing: border-box;
}

legend {
	margin-top: 20px;
	font-weight: 700;
}

.edit-form .main-legend {
	margin-bottom: 20px;
	text-align: center;
	margin-top: 0;
}

.edit-form label {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 0;
}

.edit-form input {
	padding-bottom: 0;
	padding-top: 0;
	height: 27px; 
}

.ingredients-container label {
	font-size: 20px;
	margin-top: 20px;
}

.ingredients-container .measurement-label {
	margin-top: 10px;
}

.ingredients-label {
	margin-top: 28px;
}

.instructions-label, textarea {
	display: block;
}

.instructions-label {
	margin-top: 28px;
}

textarea {
	width: 100%;
}

.edit-button {
	float: left;
}

.cancel-button, .edit-button {
	width: 50%;
	background-color: #5A0300;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	font-size: 22px;
}

.edit-button-container {
	margin-top: 20px;
}

.cancel-edit-button-container {
	height: 40px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.edit-form .bottom-nav {
	height: 0;
	width: 0;
}

@media screen and (min-width: 768px) {
	.edit-form {
		padding: 110px 150px 0 150px;
	}
	.cancel-button, .edit-button {
		font-size: 30px;
	}
}