html, div, main, body {
	height: 100%;
}

main {
	font-family: 'Fanwood Text', serif;
	color: #F1F1F3;
}

.header, .first-section, .second-section, .footer {
	text-align: center;
	width: 100%;
}

.header {
	padding: 250px 20px 20px 20px;
	background-image: url('images/castiron.jpg');
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: right 35% bottom 45%;
	height: 100%;
}

.first-section, .second-section, .footer {
	padding: 40px 20px 40px 20px;
	color: black;
}

.main .bottom-nav {
	height: 0;
	width: 0;
}