*:focus {
    outline: none;
}

.login-form {
	padding: 220px 60px 20px 60px;
	height: 100%;
	background: url('images/lukas-blazek-261682-unsplash-scaled.jpg') no-repeat;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: right 15px;
	font-family: 'Fanwood Text', serif;
	font-size: 24px;
}

div .form-input {
	height: 20px;
}

.login-form input::-webkit-input-placeholder {
	color: black;
}

.login-form .button-container button {
	background-color: transparent;
	border: 0 solid;
  	-webkit-box-shadow: 2px 2px 1px 1px #6E6E6E;
  	-moz-box-shadow:    2px 2px 1px 1px #6E6E6E;
  	box-shadow:         2px 2px 1px 1px #6E6E6E;
} 

.login-form input {
	width: 100%;
	border: 0 solid;
	border-bottom: 1px solid black;
	background: transparent;
}

.button-container {
	height: 30px;
	margin-top: 40px;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.login-form {
		padding: 220px 250px 20px 250px;
		font-size: 32px;
	}
}