*:focus {
    outline: none;
}

.login-form {
	padding: 240px 60px 20px 60px;
	height: 100%;
	background: url('images/lukas-blazek-261682-unsplash-rescaled.jpg') no-repeat;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: right 15px;
	font-family: 'Fanwood Text', serif;
	font-size: 24px;
}

.username-container, .password-container {
	height: auto;
}

.username-container label .form-error {
	height: auto;
	padding-top: 275px;
	font-weight: 600;
}

.password-container label .form-error {
	height: auto;
	padding-top: 360px;
	font-weight: 600;
}

.login-form .password, .login-form .username {
	font-weight: 600;
}

.login-form .password {
	margin-top: 20px; 
}

div .form-input {
	height: 20px;
}

.login-form input::-webkit-input-placeholder {
	color: black;
}

.login-form .button-container button {
	background-color: transparent;
	border: 0 solid;
  	-webkit-box-shadow: 2px 2px 1px 1px #6E6E6E;
  	-moz-box-shadow:    2px 2px 1px 1px #6E6E6E;
  	box-shadow:         2px 2px 1px 1px #6E6E6E;
} 

.login-form input {
	width: 100%;
	border: 0 solid;
	border-bottom: 1px solid black;
	background: transparent;
}

.button-container {
	height: 30px;
	margin-top: 40px;
	text-align: center;
}

.login-button:hover {
	cursor: pointer;
}

.test-user-container {
	width: 100%;
	position: fixed;
	top: 500px;
}

.test-user {
	text-align: center;
	font-weight: 700;
	font-size: 24px;
	font-family: 'Fanwood Text', serif;
}

.login-bottom-nav {
	height: 0;
	width: 0;
}

@media screen and (min-width: 768px) {
	.login-form {
		padding: 220px 250px 20px 250px;
		font-size: 32px;
	}
	.login-form .password {
		margin-top: 30px;
	}
	.password-container label .form-error {
		padding-top: 375px;
	}
	.username-container label .form-error {
		padding-top: 269px;
	}
}

@media screen and (min-height: 812px) {
	.login-form {
		padding: 320px 60px 20px 60px;
	}

	.test-user-container {
		top: 575px;
	}
}