.navigation {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 20px;
	background-color: #F1F1F3;
	font-family: 'Old Standard TT', serif;
	font-weight: 600;
}

.navigation ul {
	list-style: none;
	position: absolute;
	top: 23px;
	right: 20px;
}

.navigation ul, .navigation p {
	margin: 0;
}

.navigation p {
	font-size: 24px;
}

.navigation ul li {
	display: inline-block;
	font-size: 20px;
}

.navigation ul li a, .navigation p a {
	text-decoration: none;
	color: #5A0300;
}

.nav-list-item-one::after {
	content: ' |';
	color: #5A0300;
}