.recipie-details {
	padding: 100px 30px 0 30px;
	font-family: 'Fanwood Text', serif;	
	background-color: #FFFFFF;
}

.recipie-details section h1 {
	text-align: center;
	font-size: 42px;
}

.recipie-details section ul {
	list-style: none;
	padding-left: 0;
	padding-top: 10px;
	font-size: 20px;
}

.recipie-details section ul li {
	height: 28px;
	font-weight: 600;
}

.recipie-details section p {
	padding-top: 20px;
	font-size: 24px;
	line-height: 26px;
	white-space: pre-wrap;
}

.bottom-nav {
	height: 40px;
  	position: fixed;
  	bottom: 0;
  	right: 0;
  	left: 0;
	background-color: #5A0300;
  	-webkit-transition: bottom 1s;
  	transition: bottom 1s;
}

.bottom-nav .edit, .bottom-nav .delete, .bottom-nav .search, .bottom-nav .public, .bottom-nav .private {
	width: 25px;
	height: 25px;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	border: 0;
  	position: absolute;
}

.bottom-nav .edit {
	background-image: url('images/edit.png');
  	margin-left: 20%;
  	margin-top: 7.5px;
  	margin-bottom: 7.5px;
}

.bottom-nav .delete {
	background-image: url('images/delete.png');
  	margin-left: 60%;
  	margin-top: 7.5px;
  	margin-bottom: 7.5px;
}

.bottom-nav .search {
	background-image: url('images/search.png');
  	margin-left: 40%;
  	margin-top: 7.5px;
  	margin-bottom: 7.5px;
}

.bottom-nav .public {
	background-image: url('images/share.png');
  	margin-left: 80%;
  	margin-top: 7.5px;
  	margin-bottom: 7.5px;
}

.bottom-nav .private {
	background-image: url('images/noshare.png');
  	margin-left: 80%;
  	margin-top: 7.5px;
  	margin-bottom: 7.5px;
}

@media screen and (min-width: 768px) {
	.recipie-details {
		padding: 120px 60px 0 60px;
	}
	.recipie-details section h1 {
		font-size: 52px;
	}
	.recipie-details section ul {
		font-size: 24px;
	}
	.bottom-nav {
		height: 0;
		width: 0;
	}	
}