.edit-recipe-form {
	padding: 100px 30px 0 30px;
	font-family: 'Fanwood Text', serif;
	box-sizing: border-box;
	font-size: 20px;
}

.edit-recipe-form form legend {
	text-align: center;
	font-weight: 700;
	font-size: 34px;
}

.edit-recipe-form label {
	margin-top: 30px;
	margin-bottom: 0;
}

.recipe-ingredient-container .ingredients-label {
	margin-top: 55px;
}

.remove-edit-ingredients-button-container {
	padding-top: 10px;
}

.remove-edit-ingredients-button-container button {
	padding: 0 9px 0 9px;
}

.edit-button-container {
	margin-top: 10px;
 }

.edit-recipe-form form .main-label {
	font-weight: 700;
	font-size: 24px;
}

.measurement-field .measurement-label, .ingredient-field .ingredient-label {
	margin-top: 20px;
	font-weight: 600;
}

.edit-button {
	float: left;
}

.edit-button, .cancel-button {
	width: 50%;
	background-color: #5A0300;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	font-size: 22px;
}

.edit-button:hover, .cancel-button:hover {
	cursor: pointer;
}

.edit-button-container {
	margin-top: 20px;
	margin-bottom: 40px;
}

.edit-recipe-form .bottom-nav {
	height: 0;
	width: 0;
}

@media screen and (min-width: 768px) {
	.edit-recipe-form {
		padding: 110px 150px 0 150px;
	}
	.cancel-button, .edit-button {
		font-size: 30px;
	}
}